:root{
    --bool-header: #2c3f51;
    --bool-header-text: #fffefe;
    --bool-start: #1bbd9c;
    --bool-start-text: #fffefe;
    --bool-portfolio: #ffffff;
    --bool-portfolio-text: #323332;
    --bool-about: #1bbd9c;
    --bool-about-text: #fffefe;
    --bool-botton-text: #fffefe;
    --bool-contact-title: #323332;
    --bool-top-footer: #3b546c;
    --bool-bottom-footer: #2c3f51;
}

/* Header */
.header_bg{
    background-color: var(--bool-header);
}

/* /Header */


/* Start Part */
#start{
    padding: 3rem;
    background-color: var(--bool-start);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.start_img{
    height: 200px
}

.start_text{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--bool-start-text);
    font-size: 20px;
}
/* /Start Part */


/* Portfolio Part */
#portfolio{
    padding: 3rem;
    background-color: var(--bool-portfolio);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 25px;
}

.portfolio_img{
    height: 150px;
    border-radius: 1rem;
}

.star{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 20px;
}
/* /Portfolio Part */


/* About Part */
#about{
    height: 600px;
    background-color: var(--bool-about);
}

.about_text{
    padding: 4rem;
    color: var(--bool-about-text);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 25px;
    gap: 2rem;
}

.download{
    border:;
    border-color:;
    border-radius: 10px;
    color: var(--bool-about-text);
    background-color: var(--bool-about);
}
/* /About Part */


/* /Contact Part */
#contact{
    height: 500px;
    background-color: var(--bool-portfolio);

    box-sizing: border-box;
    border: 1px dashed;
}
/* /Contact Part */


/* Footer Part */
#footer{
    height: 250px;
    background-image: linear-gradient(to bottom, #3b546c 0%, #3b546c 160px, #2c3f51 120px, #2c3f51 100%);

    box-sizing: border-box;
    border: 1px dashed;
}
/* /Footer Part */